Déroulement d'une partie:

 - Pioche de 7 cartes par joueur
 - Tirage au sort du joueur qui commence
 - Eventuel mulligan
 - Chaque joueur joue une carte à tour de rôle
 - Le premier joueur qui n'a plus de carte dans sa main a gagné
